.jcarousel-wrapper {
    margin: 0;
    position: relative;
    border: 0;
}


.jcarousel-wrapper .jcarousel-title {
    position: absolute;
    left: 20px;
    top: 0;
    font-size: 22px;
    color: #FFFFFF;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 650px;
    height: 600px;
}

.jcarousel ul {
    width: 1950px;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 650px;
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 45%;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #6A6A6A;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
    font-size: 22px;
    color: #FFFFFF;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-control-prev {
    left: 20px;
}

.jcarousel-control-next {
    right: 20px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 20px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 12px;
    line-height: 20px;
    min-width: 20px;
    
    background: #FFFFFF;
    color: #6A6A6A;
    border-radius: 18px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #6A6A6A;
    color: #FFFFFF;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
